
    
  {{ solid.embed("header") }}
    
    <div class="container">
            
            
            <!-- START of BREADCRUMBS -->
            <p id="breadcrumbs">
            		<a href="{{ solid.shop_url }}">Home</a>
                    <span class="active">Shopping Cart</span>
            </p>
            <!-- END of BREADCRUMBS -->
            
            
            <!-- START of INNER-CONTAINER -->
            <div class="inner-container">
            
            		<div class="cart">
                            
				              		<h3>
                                    	<span>SHOPPING CART</span>
                                    </h3>
                                    {% set cart = cart.get() %}
                                    <form action="" method="post">
                                    
                                    <table>
                                    		<thead>
                                    		<tr>
                                            		<th>Verwijder</th>
                                                    <th>Foto</th>
                                                    <th class="name-header">Naam</th>
                                                    <th>Hoeveelheid</th>
                                                    <th>Eenheidsprijs</th>
                                                    <th>Totaal</th>
                                            </tr>
                                      </thead>
                                      <tbody>
                                      {% for item in cart.items %}
                                            <tr>
                                              <td><a href="/cart/remove/{{ item.id }}" rel="{{ item.id }}" >Verwijder</a></td>
                                              <td class="thumb"><a href="{{ item.url }}">{% if item.thumbnail %}<img width="40" height="40" src="{{ item.thumbnail }}" alt="{{ item.name }}" />{% endif %}</a></td>
                                              <td class="name">{{ item.name }}</td>
                                                    <!--<td><a href="#">0ABFG</a></td>
                                                    <td><a href="#">1536</a></td>-->
                                              <td class="qty"><input type="text" size="3" name="quantity_{{ item.id }}" value="{{ item.quantity }}" id="itemcount" /></td>
                                              <td>{{ item.price|currency ("symbol") }}</td>
                                              <td class="red">{{ item.price_total|currency("symbol") }}</td>
                                            </tr>
                                        {% else %}
                                        <tr>
                                          <td>Uw karretje is leeg. Trakteer jezelf of een vriende op <a href="{{ solid.shop_url }}">wat vinateg</a>?</td></tr>
                                        {% endfor %}
                                            
                                      </tbody>   
                                    </table>
                                   
                                    <div class="clearfix">
                                    	<!--<div class="left-column">
                                        		<input type="text" id="coupon-code" value="Coupon Code:" />
                                                <a class="apply">Apply</a>
                                    	</div>-->
                                    	 
                                    	<div class="right-column">
                                          {% if cart.items_quantity > 0 %}
                                       
                                          <p>Subtotaal:</p><p>{{ cart.items_price_total }} {{ solid.currency }}</p>
                                          <p>BTW 21%:</p><p>{{ cart.items_tax }} {{ item.tax_setting }} {{ solid.currency }}</p>
                                          <p class="total">Totaal:</p><p>{{ cart.total }} {{ solid.currency }}</p>
                                          {% endif %}
                                          
                                                <p>
                                                  <input class="checkout" type="submit" value="Afrekenen" name="btncheckout" />
                                      <input class="update" type="submit" value="Updaten" name="btnupdate" />
                                                </p>
                                          <p><a href="{{ solid.shop_url }}">Verder winkelen &rarr;</a></p>
                                    	</div>
                                    </div>
                    
                    </div><!-- end of #product-list -->
            
            </div>
            <!-- END of INNER-CONTAINER -->
                		
    
    </div><!-- end of .container -->
    
    
	
    
    
  {{ solid.embed("footer") }}