
{{ solid.embed("header") }}

<div class="container">


  <!-- START of BREADCRUMBS -->
  <p id="breadcrumbs">
    <a href="{{ solid.shop_url }}">Home</a>
    <span class="active">{{ category.get().name }}</span>
  </p>
  <!-- END of BREADCRUMBS -->


  <!-- START of INNER-CONTAINER -->
  <div class="inner-container clearfix">

    <div id="all-product">

     <h3>
      <span>All Products</span>
      <a class="list">List<span>&nbsp;</span></a>
      <a class="grid">Grid<span>&nbsp;</span></a>
    </h3>

    {% set qry =  {"pagination":"false", "order":"date_modified:desc", "cat": category.get().nicename} %}
    {{ solid.embed("products_ul",{qry : qry} )}}


    </div><!-- end of #product-list -->

    <div id="sidebar">
      <h3><span>CATEGORIES</span></h3>

      {{ solid.embed("category_ul")}}
    </div><!-- end of #sidebar -->

  </div>
  <!-- END of INNER-CONTAINER -->

  <!-- START of PAGINATION -->
  <p class="pagination">
   {{ solid.embed("pagination")}}	


 </p>

 <!-- END of PAGINATION -->


</div><!-- end of .container -->

{{ solid.embed("footer") }}