
{{ solid.embed("header") }}


<div class="container">
  
  
  <!-- START of BREADCRUMBS -->
  <p id="breadcrumbs">
    <a href="#">Home</a>
    <span class="active">Contact</span>
  </p>
  <!-- END of BREADCRUMBS -->
  
  
  <!-- START of INNER-CONTAINER -->
  <div class="inner-container clearfix">
    
    <div id="contact">
      
      <h3 class="main-heading"><span>Contact</span></h3>
      
      
      
      
      
      <!-- START OF CONTACT FORM SECTIOIN -->
      <div class="comments">
        
       <form id="contact-form" class="comment-form" method="post" action="mail.php">
        
        <h3>Contacteer ons</h3>
        
        {% if solid.getUrlsegment(3) == "false" %}
          <div class="error">
            Gelieve alle velden in te vullen aub!
          </div>
        {% endif %}
        
        {% if solid.getUrlsegment(3) == "true" %}
          <div class="success">
            Bedankt. Uw mailtje is goed ontvangen.
          </div>
        {% endif %}
        
        <form action="/sendmail" method="post">
          <div>
            <fieldset class="clearfix">
              <label for="email">Email</label>
              <input type="text" id="email" name="email" />
            </fieldset>
            <fieldset class="clearfix">
              <label for="message">Bericht</label>
              <textarea rows="2" cols="20" id="message" name="message"></textarea>
            </fieldset>       
            {% set captcha = solid.getCaptcha() %}
              <fieldset class="clearfix">
                <label for='captcha'>Vul onderstaande tekst in</label>
                <input type="text" name='captcha[input]' id='captcha' />
                <input name='captcha[id]' type='hidden' id='' value='{{ captcha.id }}' />
              </fieldset>
              <fieldset class="clearfix">
                <img src="{{ captcha.image }}" alt="Enter this word" /> 
              </fieldset> 
              <fieldset class="clearfix">      
                <input type="submit" value="Verzenden" class="submit" />
              </fieldset>
            </div>  
          </form><!-- end of #contact-form -->
          
          
        </div><!-- END OF CONTACT FORM SECTIOIN-->
        
      </div><!-- end of #contact -->
      
      <div id="sidebar">
        <div>
         <h3><span>CATEGORIES</span></h3>
         <ul>
          {% for cat in category.getList() %}
            <li><a href="{{ cat.url }}">{{ cat.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      
    </div><!-- end of #sidebar -->
    
  </div>
  <!-- END of INNER-CONTAINER -->
  
  
</div><!-- end of .container -->

{{ solid.embed("footer") }}
