
	
    
  {{ solid.embed("header") }}
    
    <div class="container">
    
    		
             <!-- START of LATEST PRODUCTS -->
            <div class="product-listing">
            	<h3><span>LATEST</span></h3>
                    
              {% set qry =  {"pagination":"false", "count":8, "order":"date_modified:desc"} %}
              {{ solid.embed("products_ul",{qry : qry} )}}

                   
            </div>
            <!-- END of LATEST PRODUCTS -->

    		
    
    </div><!-- end of .container -->
    
    
    
    {{ solid.embed ("footer") }}
     
	
