{% set pageObject = page.get() %}
  {{ solid.embed ("header") }}
    
    <div class="container">
            
            
            <!-- START of BREADCRUMBS -->
            <p id="breadcrumbs">
              <a href="{{ solid.shop_url }}">Home</a>
              <span class="active">{{ pageObject.name }}</span>
            </p>
            <!-- END of BREADCRUMBS -->
            
            
            <!-- START of INNER-CONTAINER -->
            <div class="inner-container clearfix">
            
                <div class="page-single">
                    <h3>{{ pageObject.name }}</h3>
                     <p>
                      {{ pageObject.content }}
                    </p>
                        


                                                                                    

                            
                    </div><!-- end of #page-single -->    
            
            </div>
            <!-- END of INNER-CONTAINER -->
        
    
    </div><!-- end of .container -->
    
    
  {{ solid.embed("footer") }}
