{% set activeproduct = product.get() %}

  {{ solid.embed("header") }}

  <div class="container">


    <!-- START of BREADCRUMBS -->
    <p id="breadcrumbs">
      <a href="{{ solid.shop_url }}">Home</a>

      <span class="active">{{ activeproduct.name }}</span>
    </p>
    <!-- END of BREADCRUMBS -->


    <!-- START of INNER-CONTAINER -->
    <div class="inner-container clearfix">

      <div id="product" class="clearfix">
        <div class="product-gallery">
          {% if activeproduct.images|length > 0 %}
            {% for image in activeproduct.images %}
              <ul class="large-image">
                <li>
                  <img src="{{ image.full }}" alt="{{ product.name }}" />
                </li>
              </ul>
            {% endfor %}
            {% else %}
            <img src="{{ solid.files_url ~ "/images/notfound.jpg" }}" alt="{{ product.name }}" />
          {% endif %}

        </div><!-- end of .product-gallery -->

        <div class="product-detail">
          <form id="signupForm" class="options-form" action="/cart/add/{{activeproduct.id}}" method="post" >

            <h2><a href="{{ activeproduct.url }}">{{ activeproduct.name }}</a></h2>      
            <p class="price">Price: € {{ activeproduct.price }}</p>


            <p class="qty">

             <input type="hidden" size="3" name="quantity" value="1" />
           </p>

           <input type="submit" value="In winkelmandje" class="add-to-cart btnAddToCart" id="btnSubmit" />



           <ul class="icons">
             <li><a class="tw" href="#">&nbsp;</a></li>
             <li><a class="fb" href="#">&nbsp;</a></li>
             <li><a class="print" href="#">&nbsp;</a></li>
             <li><a class="email" href="#">&nbsp;</a></li>
             <li><a class="share" href="#">&nbsp;</a></li>
           </ul>
         </form>
       </div><!-- end of .product-detail -->
     </div><!-- end of #contents -->

     <div id="sidebar">
      <h3><span>CATEGORIES</span></h3>
      {{ solid.embed("category_ul")}}
  </div><!-- end of #sidebar -->

</div>
<!-- END of INNER-CONTAINER -->


<!-- START TABS EXAMPLE -->
<div class="product-tabs">
 <ul class="tabs">
   <li><a>DESCRIPTION</a></li>
   <!--<li><a>REVIEW (1)</a></li>-->
 </ul>									
 <div class="panes">
   <div class="tab-pane">
    <p>{{ activeproduct.description }}</p>
  </div>
</div>
</div>
<!-- END TABS EXAMPLE -->


<!-- START of RELATED PRODUCTS -->
<div class="product-listing">
  <h3><span>OTHER INTERESTING PRODUCTS</span></h3>

  {% set qry =  {"count":4, "order":"random"} %}
    {{ solid.embed("products_ul",{qry : qry} )}}


  </div>
  <!-- END of LATEST PRODUCTS -->
  <script type="text/javascript" src="{{ solid.files_url }}/js/solid.js"></script>
  <script type="text/javascript">
   /* See the documentation on http://www.solidshops.com/help/javascriptlibrary for information about this library */

   function callbackStock(result)
   {
     var btnAddToCart = document.getElementById("btnSubmit");
     var productId = result.id;
     var stock = result.stock;
     if(result.stock > 0)
     {
           //product is in stock 
           btnAddToCart.removeAttribute("disabled");
           btnAddToCart.value = "In winkelmandje";           
         }
         else
         {
           //product is out of stock
           btnAddToCart.setAttribute("disabled", "disabled");
           btnAddToCart.value = "Niet meer in stock";
         }
       }

       SolidJS.symbol = "{{ solid.currency_symbol }} ";
       SolidJS.thousand = "{{ solid.currency_thousand }}";
       SolidJS.decimal = "{{ solid.currency_decimal }}"; 

       var product = {{ product|json }};

       var options = new Array();
       options['placeholder_price'] = "placeholder_price";
       options['option_text'] = "Maak een keuze...";
       options['placeholder_variants'] = "placeholder_variants";
       options['callback_stock'] = "callbackStock";

       SolidJS.enhanceVariants(product,options);

     </script>

   </div><!-- end of .container -->

   {{ solid.embed("footer") }}
