{{ solid.embed("header") }}

<div class="container">

  <div class="product-listing">
    
    <h3><span>Search results: <em>{{ category.name }}</em></span></h3>

    {% set qry =  {"count":"12", "pagination":"true", "order": "id:desc", "search": solid.getUrlsegment(2)} %}
    {{ solid.embed("products_ul",{qry : qry} )}}

    
    {{ solid.embed("pagination") }}
    
  </div><!-- end content -->
  
  </div><!-- end of .container -->
  
  {{ solid.embed("footer") }}
