{% set arr_cats = category.getList() %}

{% if arr_cats|length > 0 %}
	<ul>
		{% for cat in arr_cats %}
			<li><a href="{{ cat.url }}">{{ cat.name }}</a></li>
			{% if cat.subcategories|length > 0 %}
				{% for subcat in cat.subcategories %}
					<li><a href="{{ subcat.url }}">- {{ subcat.name }}</a></li>
						{% if subcat.subcategories|length > 0 %}
							<ul>
								{% for subcat2 in subcat.subcategories %}
									<li><a href="{{ subcat2.url }}">-- {{ subcat2.name }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}