{{  solid.setGlobal("contact_street", "My street 123") }}
{{  solid.setGlobal("contact_city", "1234 City") }}
{{  solid.setGlobal("contact_phone", "0499 12 34 56") }}
{{  solid.setGlobal("contact_email", "demo@demo.com") }}

{{  solid.setGlobal("slogan", "Webshop gespecialiseerd in A, B en C.") }}

