<!-- START of PAGE-BOTTOM -->
    <div class="page-bottom-wrapper">
    		
            <div id="page-bottom" class="clearfix">
            		
                    <div class="box">
                            <div class="icon">
                            	<img src="{{solid.files_url}}/images/icon-1.png" alt="" />
                            </div>                                   
							<div class="data">
								 <h3>{{ solid.shop_name}}</h3>
								 <p>{{solid.getGlobal("slogan")}}</p>
							</div>
                            
                    </div><!-- end of .box -->
                    

                    
                    <div class="box last">
							<div class="icon">
                            	<img src="{{solid.files_url}}/images/icon-3.png" alt="" />
                            </div>                                    
							<div class="data">
								 <h3>Neem contact op</h3>
                              <p>{{solid.getGlobal("contact_phone")}}<br/>
                                {{solid.getGlobal("contact_street")}}<br/>
                                {{solid.getGlobal("contact_city")}}<br/>
                                <a href='mailto:{{solid.getGlobal("contact_email")}}'>{{solid.getGlobal("contact_email")}}</a>
</p>
							</div>                    		
                    </div><!-- end of .box -->
                    
            </div><!-- end of #page-bottom -->
            
    </div>
    <!-- END of PAGE-BOTTOM -->
    <!-- START of FOOTER -->
    <div class="footer-wrapper">
    		
            <div id="footer" class="clearfix">
            
                    
                    <div class="column">
                    		<h3>Links</h3>
                            <ul>
                              {% for pageObject in page.getList() %}
                                <li><a href="{{pageObject.url}}">{{pageObject.name}}</a></li>
                              {% endfor %}
                              <li><a href="/contact">Contact</a></li>
                            </ul>
                    </div>
                    
                    <div class="column">
                            <h3>Products</h3>
                            <ul>
                              {% for productObject in product.getList({count : 15}) %}
                                <li><a href="{{productObject.url}}">{{productObject.name}}</a></li>
                              {% endfor %}
                            </ul>
                    </div>


                    {% for cat in category.getList({count : 30}) %}
                        {% if loop.index == 1 or loop.index == 16  %}
                            <div class="column">
                                <h3>Categories</h3>
                                <ul>
                        {% endif %}
                        <li><a href="{{ cat.url }}">{{ cat.name }}</a></li>

                         {% if loop.revindex == 1 or loop.index == 15 %}
                                    </ul>
                            </div>
                        {% endif %}
                    {% endfor %}  



                    
                    
                    

       
            
            </div><!-- end of #footer -->
            
    </div>
    <!-- END of FOOTER -->
    
    
    <!-- START of COPYRIGHTS-WRAPPER -->
    <div class="copyright-wrapper">
    
    		<div id="copyrights" class="clearfix">
            		<p class="left"></p>
                    <p class="right">Developed by <a href="http://www.webnology.be">Webnology</a></p>
            </div><!-- end of #copyrights -->
    
    </div>
    <!-- END of COPYRIGHTS-WRAPPER -->
    
    <!-- jQuery -->
<script type="text/javascript" src="{{solid.files_url}}/js/jquery.min.js"></script>
    
    <!-- jQuery Easing -->
<script type="text/javascript" src="{{solid.files_url}}/js/jquery.easing.1.3.js"></script>
	
    <!-- jQuery Selectbox Script to custom style form select boxes -->
<script type="text/javascript" src="{{solid.files_url}}/js/jquery.selectBox.js"></script>
    
    <!-- jQuery Cycle Plugin for home page slider-->
<script type="text/javascript" src="{{solid.files_url}}/js/jquery.cycle.all.js"></script>
    
    <!-- jQuery Tabs and Accordion Script -->
<script type="text/javascript" src="{{solid.files_url}}/js/tabs-accordian.js"></script>
    
    <!-- jQuery Coud Zoom Plugin for Product Page Image Zoom Effect-->
<script type="text/JavaScript" src="{{solid.files_url}}/js/cloud-zoom.1.0.2.js"></script>
    
    <!-- jQuery Animate Color Plugin for Hover Color Animation for Links-->
<script type="text/javascript" src="{{solid.files_url}}/js/jquery.animate-colors-min.js"></script>           
    
    <!-- jQuery Form and Validation Plugin for Contact form validation and ajax submition -->
<script type="text/javascript" src="{{solid.files_url}}/js/jquery.form.js"></script>
<script type="text/javascript" src="{{solid.files_url}}/js/jquery.validate.js"></script>    	
	
    <!-- script file to add your own JavaScript -->
<script type="text/javascript" src="{{solid.files_url}}/js/script.js"></script>

</body>
</html>