{{ solid.embed("config")}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% set firstsegment = solid.getUrlsegment(1) %}
  {% if firstsegment == "" %}
    {% set meta_title = solid.shop_name %}
    {% set meta_description = solid.shop_name %}
    {% set meta_keywords = solid.shop_name %}
  {% elseif firstsegment == "page" %}
    {% set pageObject = page.get() %}
    {% set meta_title = solid.shop_name ~ ' -> ' ~ pageObject.name %}
    {% set meta_description = pageObject.content|strip_tags|trim %}
    {% set meta_keywords = "" %}
  {% elseif firstsegment == "category" %}
    {% set categoryObject = category.get() %}  
    {% set meta_title = solid.shop_name ~ ' -> ' ~ categoryObject.name %}
    {% set meta_description = categoryObject.name %}
    {% set meta_keywords = categoryObject.name %} 
  {% elseif firstsegment == "cart" %}
    {% set meta_title = solid.shop_name ~ ' ->  cart' %}
    {% set meta_description = "Cart for " ~ solid.shop_name %}
    {% set meta_keywords = ""%}    
  {% elseif firstsegment == "search" %}
      {% set meta_title = solid.shop_name ~ ' -> ' ~ " search results for "~ " " ~ solid.getUrlsegment(2)|url_decode %}
      {% set meta_description = "" %}
      {% set meta_keywords = "" %}
  {% elseif firstsegment == "contact" %}
      {% set meta_title = solid.shop_name ~ ' -> ' ~ "Contact" %}
      {% set meta_description = "" %}
      {% set meta_keywords = "" %}
  {% elseif firstsegment == "product" %}
    {% set productObject = product.get() %} 
      {% set meta_title = solid.shop_name ~ ' -> ' ~ productObject.name %}
      {% set meta_description = productObject.description %}
      {% set meta_keywords = "" %} 
  {% endif %}

  <title>{{ meta_title }}</title> 
  <meta name="description" content="{{ meta_description|strip_tags }}" />
  <meta name="keywords" content="{{ meta_keywords|strip_tags }}" /> 

  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  

  {{ solid.css("style.css") }}
  {{ solid.css("jquery.selectBox.css") }}
    <script type="text/javascript" src="{{solid.files_url}}/js/AddToCart.js"></script>
    
  
  <!-- Generate Favicon Using 1.http://tools.dynamicdrive.com/favicon/ OR 2.http://www.favicon.cc/ -->
  <link rel="shortcut icon" href="favicon.ico" />
  
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<!-- START of HEADER WRAPPER -->
	<div class="header-wrapper">
    		
            <div id="header" class="clearfix">
                    
                    
                    <!-- SLOGAN LINE -->
                    <!--<strong class="slogan">SO TURN THE LIGHTS OUT</strong>-->
                    
                    <!-- TOP NAV -->
                    <ul class="top-nav">
                    	
                      <li><a href="{{ solid.shop_url }}/cart">SHOPPING CART</a></li>
                             {% set cart = cart.get() %}
      
      
                            <li><a href="{{ solid.shop_url }}/cart" class="cart"></a><span class="cart-bubble items_in_cart">{{ cart.items_quantity }}</span></li>
                      
                    </ul><!-- end of .top-nav -->
                    
            </div><!-- end of #header -->
            
    </div>
	<!-- END OF HEADER WRAPPER -->
    
    
    <!-- START of NAVIGATION WRAPPER -->
    <div class="navigation-wrapper">
    
            
                    
            <!-- MAIN NAVIGATION -->
		    <ul id="navigation" class="clearfix">
            <!-- LOGO -->
              <li><a href="{{ solid.shop_url }}" class="logo"><img src='{{solid.files_url}}/images/logo.png' alt="Logo" /></a></li>
                    {% for cat in category.getList({count:5}) %}
            		<li><a href="{{ cat.url }}">{{ cat.name }}</a></li>
                    {% endfor %} 
 
              <li id="form"><form class="search" method="post" action="/search">
                    			<fieldset>
                    	        		<input type="text" id="s" name="query" value="Search" />
                    	                <input class="submit" type="submit" value="Submit" />
                              </fieldset>
                    	</form></li><!-- end of .search -->
      </ul><!-- end of #navigation -->
            
  	</div>
    <!-- END of NAVIGATION WRAPPER -->
     
     <!-- START of BOTTOM -->
    <div class="bottom-wrapper">
 
    </div>
    <!-- END of BOTTOM -->