 <ul class="clearfix grid-view">
 	{% set products = product.getList(embed.qry) %}
 		{% for product in products %}
 			{% set str_img = product.thumbnail %}
	        {% if str_img == "" %}
	          {% set str_img = solid.files_url ~ "/images/notfound.jpg" %}
	        {% endif %}
 			<li class="product">
 				<a href="{{ product.url }}" class="thumb"><img src="{{str_img}}" alt="{{product.name}}" /></a>
 				<a href="{{ product.url }}" class="title">{{product.name}}</a>
 				<div class="clearfix info">
 					<form action="/cart/add/{{product.id}}" method="post" >
 						<div>
 							<input type="submit" value="In winkelmandje" class="add-to-cart btnAddToCart" />
 						</div>
 					</form>
 					<span class="price-text">€<span>{{ product.price }}</span></span>
 				</div>
 			</li>
 		{% endfor %}
 	</ul>